body {
  background: rgb(4, 38, 45);
}
h1 {
  color: #17a2b8;
  font-family: "Titillium Web", sans-serif;
  font-size: 45px;
  font-weight: 600;
  padding-top: 15px;
}
.login-content , .signup-content ,.home-content {
  box-shadow: -5px 2px 54px -9px rgb(5, 0, 0);
}
input {
  background-color: transparent !important;
  color: #fff !important;
}
.form-control::placeholder {
    color: white;
  }
